.description {
    font-style: italic;

    &.description-computation {

    }

    &.description-shape {
        margin-top: 24px;
    }
}

.radio-group {
    display: inline-flex;
    flex-direction: column;
}

.radio-button {
    margin: 5px;
}
